
body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;

}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center: ;
    font-size: 42px;
}

}

.Headings {
  font-family: 'Montserrat', sans-serif;
}

#eventr {
  color: red;
}
